/* Regular variant */
@font-face {
  font-family: 'BerkeleyMono';
  src: url('BerkeleyMonoVariable-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Italicized variant */
@font-face {
  font-family: 'BerkeleyMono';
  src: url('BerkeleyMonoVariable-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

html {
  font-family: 'BerkeleyMono', sans-serif;
  background-color: #f5f5f5;
  line-height: 1.5rem;
}

h1 {
  line-height: 0;
  font-weight: 500;
}

h2,
h3 {
  font-weight: 500;
  text-decoration: underline;
}

h4 {
  font-style: semibold;
}

em,
i {
  font-family: 'BerkeleyMono', sans-serif;
  font-style: italic;
}

code {
  font-family: 'BerkeleyMono', monospace;
  font-style: normal;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
}


nav {
  background-color: #f5f5f5;
  width: 15%;
  height: 100vh;
  padding-top: 20px;
  top: 0;
  position: sticky;
  border-right: black 2px solid;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

main {
  width: 85%;
  padding: 20px;
}